@charset "utf-8";
html{-webkit-text-size-adjust:none;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,input,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
body{font:normal 14px/1.5 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; color:#121212;background-color:#F7F7F7;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
input,button,select,textarea{outline:none;}      /*取消chrome下input和textarea的聚焦边框*/
textarea{resize:none;border:0;margin:0;}                           /*取消chrome下textarea可拖动放大*/
details{content:none;}
em,i,s{font-style:normal;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:lighter;}
img,iframe{border:0;}
button{cursor:pointer;}
table{border-collapse:collapse;}
td{empty-cells:show;}
th{font-weight:lighter;}
a{color:#444;cursor:pointer;text-decoration:none;outline: none;}
a:hover{text-decoration:none;color:#36D1C1;}
.none-bg{background:none; text-align:left;}
.clear{clear: both}
.clearfix{zoom:1;}
.clearfix:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}
.txl{text-align:left;}
.txc{text-align:center;}
.txr{text-align:right;}
.fl{float:left;}
.fr{float:right;}
.pic img{vertical-align:top;}
* { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}

/*基础样式*/
.red-a{display:inline-block;line-height:40px;height:40px;padding:0 16px;color:#fff;background-color:#FC6156;font-size:16px;text-align:center;vertical-align:middle;border-radius:3px;}
.whole-a{display:block;}

.main{position:absolute;left:0;right:0;bottom:0;top:0;overflow:auto;}
.main.hasfixed-footer{bottom:50px; }
.white-bac{background-color:#fff;}
.fixed-footer{position:fixed;left:0;right:0;bottom:0;}
.fixed-footer .footer-c{padding:5px 10px;}
.fixed-footer .footer-c .red-a .noti{font-size:10px;}

/*会员卡列表*/
.main-c{padding:10px;}
.card-list > li{margin-bottom:14px;}
.card-list > li:last-child{margin-bottom:0;}
.card-list > li .card-det{color:#626262;border-radius:4px;}
.card-list > li .card-det .tit{padding:5px 0 5px 70px;}
.card-list > li .card-det .tit:after{content:"VIP";display:block;font-size:34px;line-height:1;color:rgba(255,255,255,0.1);}
.card-list > li .card-det img{border-radius:50%;}
.card-list > li .card-det .info{height:30px;line-height:30px;padding:0 10px;display:flex;border-radius:0 0 4px 4px;}
.card-list > li .info .pic{margin-top:-30px;margin-right:10px;}
.card-list > li .info .name{flex:1;}
.card-list > li .info .type{text-align:right;font-size:12px;flex:2;}

.card-list > li .blue-card .tit{color:#004089;}
.card-list > li .blue-card{background-color:#6AB1D2;}
.card-list > li .blue-card .info{background-color:#BCDCEB;}
.card-list > li .green-card .tit{color:#039100;}
.card-list > li .green-card{background-color:#92C27A;}
.card-list > li .green-card .info{background-color:#CEE3C3;}
.card-list > li .purple-card .tit{color:#9d0049;}
.card-list > li .purple-card{background-color:#DF71A4;}
.card-list > li .purple-card .info{background-color:#F1BFD6;}